@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@500&display=swap');

* {
    background-color: rgb(41, 41, 41);
    color: rgb(139, 128, 240);
    font-family: Raleway;
}

.hello {
    font-size: 600%;
    text-align: center;
    animation: fadein 1.5s ease-in;
    width: 50%;
    transform: translateX(50%);
}

.menubar {
    text-align: center;
    height: 10%;
    width: 50%;
    transform: translateX(50%);
}

.menu1 {
    animation: fadeinmid 3s ease-in;
    display: inline;
    text-decoration: none;
    font-size: 175%;
    padding: 10px;
    transition: font-size .5s, color .5s;
    background: none;
}

.menu2 {
    animation: fadeinlater 4s ease-in;
    display: inline;
    text-decoration: none;
    font-size: 175%;
    padding: 10px;
    transition: font-size .5s, color .5s;
    background: none;
}

.menu1:hover {
    font-size: 250%;
    color: lightcoral;
}

.menu2:hover {
    font-size: 250%;
    color: lightcoral;
}

.sidebarpos {
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgb(22, 22, 22);
    height: 100%;
    width: 15%;
    transition: transform .5s;
}

.sidebar {
    background-color: rgb(22, 22, 22);
    list-style: none;
    color: lightcoral;
    margin: 5%;
    font-size: 150%;
    transition: transform .5s;
}

.cuccok {
    font-size: 400%;
    vertical-align: bottom;
    color: lightcoral;
    margin: 5%;
}

.undercuccok {
    color: lightcoral;
    background-color: lightcoral;
    height: 2px;
    border: none;
}

.sidebutton {
    transition: transform .5s;
    position: inherit;
    left: 300px;
    top: 50%;
    cursor: pointer;
    font-size: 30px;
    color: lightcoral;
    transition: color .5s;
}




#check1:checked ~ .sidebarpos{
    transform: translateX(-100%);
 }

 .invischeck {
     position: absolute;
     top: -9999px;
     left: -9999px;
 }

@keyframes fadein {
    from {
        opacity: 0%;
    }
    to {
        opacity: 100%;
    }
}
@keyframes fadeinmid {
    from {
        opacity: 0%;
    }
    30% {
        opacity: 0%;
    }
    to {
        opacity: 100%;
    }
}




@keyframes fadeinlater {
    from {
        opacity: 0%;
    }
    50% {
        opacity: 0%;
    }
    to {
        opacity: 100%;
    }
}